@import 'tailwindcss';

.my-custom-checkbox .ant-checkbox-inner {
    border-radius: 50%;
    border-color: #1890ff;
    padding: 2px;
    font-: 20px;
}

.my-custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #1890ff;
    border-color: #1890ff;

}

.my-custom-checkbox .ant-checkbox-inner {
    @apply rounded-full;
    width: 20px;
    /* kattaroq checkbox */
    height: 20px;
}

.my-custom-checkbox .ant-checkbox-inner::after {
    /* check iconning rangi */
    border-color: white;
}

.ant-pagination-item-link {
    font-size: 16px !important;
}

/* Custom scrollbar faqat shu class uchun */
.custom-scroll::-webkit-scrollbar {
    width: 5px;
    /* Scroll eni */
}

.custom-scroll::-webkit-scrollbar-track {
    background: #F0F7FF;
    /* Scroll orqa fon */
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #4096FF;
    /* Scroll "thumb" (harakatlanuvchi qismi) */
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #64748b;
    /* Hover holatda rangi */
}

@media (max-width: 480px) {
    :where(.css-dev-only-do-not-override-vrrzze).ant-steps.ant-steps-vertical>.ant-steps-item .ant-steps-item-icon {
        margin-inline-end: 8px;
    }
}